:root {
  /* checkswipe defaults */
  --checkswipe-scale: 1.3;
  --checkswipe-delay: 0.1s;
  --checkswipe-duration: 0.1s;
  --checkswipe-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

[data-checkswipe] input[type=checkbox] {
  transition: transform var(--checkswipe-duration) var(--checkswipe-easing) var(--checkswipe-delay);
}

[data-checkswipe]:not([data-checkswipe='']) input[type=checkbox] {
  transform: scale(var(--checkswipe-scale));
}
